<body>
	<section class="col-1">
	&nbsp;
	</section>

	<section class ="col-2">

		<% if @posts.any? %>
			<% @posts.each do |post| %>
				<h2><%= link_to (image_tag post.image.url(:large), :class => "index-image", :alt=> "pic"), post_path(post), :class => "index-image-link" %></h2>
				<span><%= link_to (image_tag('thumbs-up.png', :class => "thumbs-up")), post_likes_path(post), :class => "likes-link" %></span>
				<span class='likes_count'><%= post.likes.count %></span><span class='like'><%= 'like'.pluralize(post.likes.count) %></span>
			<% end %>
		<% else %>
			<h1> No posts yet </h1>
		<% end %>

	</section>

	<section class="col-3">

	</section>
</body>